<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="stone">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000112974004017283 -0.319645951504904 0.0730552338126323"
        rpy="0 0 0" />
      <mass
        value="0.824781280481655" />
      <inertia
        ixx="0.0109201620292687"
        ixy="-3.05029810846776E-06"
        ixz="-2.5975085900891E-05"
        iyy="0.0121722162539867"
        iyz="-0.00156749131294107"
        izz="0.00291805919812797" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stone/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://stone/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>